<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../../source/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../../../source/layui/css/style.css" media="all">
<link rel="stylesheet" href="../../../source/css/common.css" media="all">
<style>
	.layui-input-inline{
		margin:0 25px 10px 120px !important;
	}
</style>
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-row">
			<div class="layui-col-md12">
				<form class="layui-form" lay-filter="storagefilter">
					<div class="layui-form-item" id="storageTypeDiv">
						<label class="layui-form-label"><span style="color: red;">*</span>存储类型：</label>
						<div class="layui-input-inline">
							<input type="hidden" name="storageId" id="storageId"/>
 							<select name="storageType" id="storageType" lay-filter="storageType">
 								<option value="1">NFS</option>
 								<option value="2">CIFS/SMB</option>
 								<option value="3">iSCSI</option>
 							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label" id="storageLabel">
							<span style="color: red;">*</span>存储路径：
						</label>
						<div class="layui-input-inline">
 							<input type="text" name="storagePath" id="storagePath"  lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">
							<span style="color: red;">*</span>挂载路径：
						</label>
						<div class="layui-input-inline">
 							<input type="text" name="localPath" id="localPath"  autocomplete="off" class="layui-input"  placeholder="/mnt">
						</div>
					</div>
				<div id="userDiv" style="display:none">
					<div class="layui-form-item">
						<label class="layui-form-label" for="recovery">
							<span style="color: red;">*</span>用户名：
						</label>
						<div class="layui-input-inline">
							<input type="text"  name="storageUsername" id="storageUsername"  class="layui-input">
						</div>
					</div>
						<div class="layui-form-item">
							<label class="layui-form-label" for="recovery">
								<span style="color: red;">*</span>密码：
							</label>
							<div class="layui-input-inline layui-form">
								<input type="password" name="storagePassword" id="storagePassword"  class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="text_center" style="margin-top: 25px">
							<button type="button" lay-submit lay-filter="formfilter" class="boot_botton">
								确定
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="../../../source/layui/layui.all.js"></script>
	<script src="../../../source/js/common.js"></script>
	<script src="addStorage.js"></script>
</body>
</html>