<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 获取数据库自增id -->
        <setting name="useGeneratedKeys" value="true"/>

        <!-- 支持别名 -->
        <setting name="useColumnLabel" value="true" />

        <!-- 支持驼峰命名转换，例如表字段create_time 对应实体类的createTime属性 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
</configuration>