<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
 <link rel="stylesheet" href="../../source/layui/css/style.css" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">
          		<button type="button" id="addStorage" class="boot_botton"> 添加</button>
				<button type="button" id="editStorage"  class="boot_botton" >编辑</button>
                <button type="button"  id="delStorage" class="boot_botton" >删除</button>
      		    <button type="button" id="mountStorage" class="boot_botton" >挂载 </button>
	            <button type="button" id="umountStorage"class="boot_botton" >  卸载 </button>
          </div>
          <div class="layui-card-body">
          	 <table id="storageGrid" lay-filter="storageGrid"></table>
          </div>
        </div>
         <div class="layui-card">
          <div class="layui-card-header">
          		<button type="button" id="diskTest" class="boot_botton"> 磁盘性能测试</button>
          </div>
          <div class="layui-card-body">
          	  <table id="fileSysGrid" lay-filter="fileSysGrid"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
	<script src="../../layuiadmin/layui/layui.js"></script>  
	<script src='../../source/js/common.js'></script>
	<script src="storage.js"></script>
</body>
</html>