<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.KvmTemplateDao">
	<resultMap id="KvmTemplateMap" type="com.example.demo.empty.KvmTemplate">
		<result column="TEMPLATE_ID" jdbcType="INTEGER" property="templateId"  />
		<result column="KVM_SERVER_ID" jdbcType="INTEGER" property="kvmServerId" />
		<result column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
		<result column="TEMPLATE_MAC" jdbcType="VARCHAR" property="templateMac" />
		<result column="TEMPLATE_UUID" jdbcType="VARCHAR" property="templateUuid" />
		<result column="TEMPLATE_VNC_PORT" jdbcType="VARCHAR" property="templateVncPort" />
		<result column="TEMPLATE_MEMORY" jdbcType="INTEGER" property="templateMemory" />
		<result column="TEMPLATE_DISK" jdbcType="INTEGER" property="templateDisk" />
		<result column="TEMPLATE_CPU" jdbcType="INTEGER" property="templateCpu" />
		<result column="TEMPLATE_NETWORK" jdbcType="VARCHAR" property="templateNetwork" />
		<result column="TEMPLATE_DEFAULT_START" jdbcType="VARCHAR" property="templateDefaultStart" />
		<result column="VM_TYPE" jdbcType="VARCHAR" property="vmType" />
	</resultMap>
	
	<sql id="Base_Column_List">
			TEMPLATE_ID,
			KVM_SERVER_ID,
			TEMPLATE_NAME,
			TEMPLATE_MAC,
			TEMPLATE_UUID,
			TEMPLATE_VNC_PORT,
			TEMPLATE_MEMORY,
			TEMPLATE_DISK,
			TEMPLATE_CPU,
			TEMPLATE_NETWORK,
			TEMPLATE_DEFAULT_START,
			VM_TYPE
		</sql>
			
			<select id="load" parameterType="java.lang.Integer" resultType="com.example.demo.empty.KvmTemplate">
			SELECT
				<include refid="Base_Column_List" />
			 FROM 
			 	T_KVM_TEMPLATE
			 WHERE TEMPLATE_ID = #{templateId,jdbcType=INTEGER}
			</select>
			
		<select id="allSelectLists" resultMap="KvmTemplateMap" parameterType="com.example.demo.empty.KvmTemplate">
		SELECT
			<include refid="Base_Column_List" />
		FROM T_KVM_TEMPLATE 
	</select>
			
	<insert id="insert" parameterType="com.example.demo.empty.KvmTemplate">
		<selectKey keyProperty="templateId" resultType="java.lang.Integer" order="AFTER">
			SELECT LAST_INSERT_ROWID() AS kvmServerId
		</selectKey>
			INSERT INTO T_KVM_TEMPLATE
				<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="templateId != null">
						TEMPLATE_ID,
					</if>
					<if test="kvmServerId != null">
						KVM_SERVER_ID,
					</if>
					<if test="templateName != null">
						TEMPLATE_NAME,
					</if>
					<if test="templateMac != null">
						TEMPLATE_MAC,
					</if>
					<if test="templateUuid != null">
						TEMPLATE_UUID,
					</if>
					<if test="templateVncPort != null">
						TEMPLATE_VNC_PORT,
					</if>
					<if test="templateMemory != null">
						TEMPLATE_MEMORY,
					</if>
					<if test="templateDisk != null">
						TEMPLATE_DISK,
					</if>
					<if test="templateCpu != null">
						TEMPLATE_CPU,
					</if>
					<if test="templateNetwork!= null">
						TEMPLATE_NETWORK,
					</if>
					<if test="templateDefaultStart!= null">
						TEMPLATE_DEFAULT_START,
					</if>
					<if test="vmType != null">
						VM_TYPE,
					</if>
				</trim>
				<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
					<if test="templateId != null">
						#{templateId,jdbcType=INTEGER},
					</if>
					<if test="kvmServerId != null">
						#{kvmServerId,jdbcType=INTEGER},
					</if>
					<if test="templateName != null">
						#{templateName,jdbcType=VARCHAR},
					</if>
					<if test="templateMac != null">
						#{templateMac,jdbcType=VARCHAR},
					</if>
					<if test="templateUuid != null">
						#{templateUuid,jdbcType=VARCHAR},
					</if>
					<if test="templateVncPort != null">
						#{templateVncPort,jdbcType=VARCHAR},
					</if>
					<if test="templateMemory != null">
						#{templateMemory,jdbcType=INTEGER},
					</if>
					<if test="templateDisk != null">
						#{templateDisk,jdbcType=INTEGER},
					</if>
					<if test="templateCpu != null">
						#{templateCpu,jdbcType=INTEGER},
					</if>
					<if test="templateNetwork!= null">
						#{templateNetwork,jdbcType=VARCHAR},
					</if>
					<if test="templateDefaultStart!= null">
						#{templateDefaultStart,jdbcType=VARCHAR},
					</if>
					<if test="vmType != null">
						#{vmType,jdbcType=VARCHAR},
					</if>
				</trim>
		</insert>
		
		
		<update id="update" parameterType="com.example.demo.empty.KvmTemplate">
			UPDATE
			 	T_KVM_TEMPLATE
			 	<set>
					<if test="templateId != null">
						TEMPLATE_ID = #{templateId,jdbcType=INTEGER},
					</if>
					<if test="kvmServerId != null">
						KVM_SERVER_ID = #{kvmServerId,jdbcType=INTEGER},
					</if>
					<if test="templateName != null">
						TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
					</if>
					<if test="templateMac != null">
						TEMPLATE_MAC = #{templateMac,jdbcType=VARCHAR},
					</if>
					<if test="templateUuid != null">
						TEMPLATE_UUID = #{templateUuid,jdbcType=VARCHAR},
					</if>
					<if test="templateVncPort != null">
						TEMPLATE_VNC_PORT = #{templateVncPort,jdbcType=VARCHAR},
					</if>
					<if test="templateMemory != null">
						TEMPLATE_MEMORY = #{templateMemory,jdbcType=INTEGER},
					</if>
					<if test="templateDisk != null">
						TEMPLATE_DISK = #{templateDisk,jdbcType=INTEGER},
					</if>
					<if test="templateCpu != null">
						TEMPLATE_CPU = #{templateCpu,jdbcType=INTEGER},
					</if>
					<if test="vmType != null">
						VM_TYPE = #{vmType,jdbcType=VARCHAR},
					</if>
			 	</set>
			 	WHERE 
			TEMPLATE_ID  =   #{templateId,jdbcType=INTEGER}
		</update>
		
			<delete id="delete" parameterType="java.lang.Integer">
				DELETE 
					FROM T_KVM_TEMPLATE
				WHERE 
					TEMPLATE_ID  =   #{templateId,jdbcType=INTEGER}
			</delete>
</mapper>
		