<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../source/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../source/css/common.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
			    	<div class="layui-row">
			    	<form class="layui-form" id="fileForm" lay-filter="fileForm">
		                   <div class="layui-form-item">
		                    <div class="layui-inline">
		                        <label class="layui-form-label" for="fileType"><span style="color: red;">*</span>文件类型：</label>
		                        <div class="layui-input-inline">
 									<select name="fileType" id="fileType">
 										<option value="0">镜像文件</option>
 										<option value="1">驱动文件</option>
 									</select>
		                        </div>
		                    </div>
		                    </div>
		                  <div class="layui-form-item">
		                    <div class="layui-inline">
		                        <label class="layui-form-label" style="width:91px;"><span style="color: red;">*</span>链接：</label>
		                        <div class="layui-input-inline" style="width:300px">
 									<input type="text" name="fileUrl" id="fileUrl" lay-verify="required"  autocomplete="off" class="layui-input"  placeholder="http://192.168.1.250/virtio-win-0.1.171.iso">
		                        </div>
		                    </div>
		                </div>
		                
		                <div class="layui-progress layui-progress-big" id="percent" lay-showpercent="true" lay-filter="progress" style="display:none" >
						  <div class="layui-progress-bar layui-bg-red"  lay-percent="0%"></div>
						</div>
		                
		                <div class="layui-form-item">
		                    <div class="layui-btn-container text_center" style="margin-top: 25px">
		                        <button type="button" lay-submit lay-filter="formfilter" id="save" class="layui-btn" style="margin-right: 70px">
		                            <i class="layui-icon layui-icon-ok"></i>提交
		                        </button>
		                        <button type="reset" class="layui-btn layui-btn-primary">
		                            <i class="layui-icon layui-icon-refresh-3"></i>重置
		                        </button>
		                    </div>
		                </div>
		            </form>
		            <a style="float: right" href="../../../source/download/hfs.zip">上传组件下载</a>
			  </div>
        </div>
    </div>
</div>
<script src="../../../source/layui/layui.all.js"></script>
<script src="../../../source/js/valid.js"></script>
<script src="../../../source/js/common.js"></script>
<script src="uploadFileWinFun.js"></script>
</body>
</html>