<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.StorageDao">
	<resultMap id="StorageMap" type="com.example.demo.empty.Storage">
		<result column="STORAGE_ID" jdbcType="INTEGER" property="storageId" />
		<result column="STORAGE_TYPE" jdbcType="INTEGER" property="storageType" />
		<result column="STORAGE_PATH" jdbcType="VARCHAR" property="storagePath" />
		<result column="LOCAL_PATH" jdbcType="VARCHAR" property="localPath" />
		<result column="STORAGE_USERNAME" jdbcType="VARCHAR" property="storageUsername" />
		<result column="STORAGE_PASSWORD" jdbcType="VARCHAR" property="storagePassword" />
		<result column="STORAGE_STATU" jdbcType="INTEGER" property="storageStatu" />
	</resultMap>
	
	<sql id="Base_Column_List">
		STORAGE_ID,
		STORAGE_TYPE,
		STORAGE_PATH,
		LOCAL_PATH,
		STORAGE_USERNAME,
		STORAGE_PASSWORD,
		STORAGE_STATU
	</sql>
	
	<sql id="Example_Where_Clause">
		<where>
			<if test="storageId != null">
					STORAGE_ID = #{storageId,jdbcType=INTEGER}
			</if>
			<if test="storageType != null">
					STORAGE_TYPE = #{storageId,jdbcType=INTEGER}
			</if>
			<if test="storagePath != null">
					STORAGE_PATH = #{storagePath,jdbcType=VARCHAR}
			</if>
			<if test="storagePath != null">
					LOCAL_PATH = #{localPath,jdbcType=VARCHAR}
			</if>
			<if test="storageUsername != null">
					STORAGE_USERNAME = #{storageUsername,jdbcType=VARCHAR}
			</if>
			<if test="storagePassword != null">
					STORAGE_PASSWORD = #{storagePassword,jdbcType=VARCHAR}
			</if>
			<if test="storageStatu != null">
					STORAGE_STATU = #{storageStatu,jdbcType=INTEGER}
			</if>
		</where>
	</sql>
	
		<select id="load" parameterType="java.lang.Integer" resultType="com.example.demo.empty.Storage">
	SELECT
		<include refid="Base_Column_List" />
	 FROM 
	 	T_STORAGE
	 WHERE STORAGE_ID = #{storageId,jdbcType=INTEGER}
	</select>
	
		<select id="allSelectLists" resultMap="StorageMap" parameterType="com.example.demo.empty.Storage">
		SELECT
			<include refid="Base_Column_List" />
		FROM T_STORAGE
			<include refid="Example_Where_Clause" />
	</select>
	
	<insert id="insert" parameterType="com.example.demo.empty.Storage">
		INSERT INTO T_STORAGE
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="storageId != null">
						STORAGE_ID,
				</if>
				<if test="storageType != null">
						STORAGE_TYPE,
				</if>
				<if test="storagePath != null">
						STORAGE_PATH,
				</if>
				<if test="storagePath != null">
						LOCAL_PATH,
				</if>
				<if test="storageUsername != null">
						STORAGE_USERNAME,
				</if>
				<if test="storagePassword != null">
						STORAGE_PASSWORD,
				</if>
				<if test="storageStatu != null">
						STORAGE_STATU,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="storageId != null">
						#{storageId,jdbcType=INTEGER},
				</if>
				<if test="storageType != null">
						#{storageType,jdbcType=INTEGER},
				</if>
				<if test="storagePath != null">
						#{storagePath,jdbcType=VARCHAR},
				</if>
				<if test="storagePath != null">
						#{localPath,jdbcType=VARCHAR},
				</if>
				<if test="storageUsername != null">
						#{storageUsername,jdbcType=VARCHAR},
				</if>
				<if test="storagePassword != null">
						#{storagePassword,jdbcType=VARCHAR},
				</if>
				<if test="storageStatu != null">
						#{storageStatu,jdbcType=INTEGER},
				</if>
			</trim>
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer">
			DELETE 
				FROM 
		T_STORAGE
				WHERE
		STORAGE_ID = #{storageId,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteCondition" parameterType="com.example.demo.empty.Storage">
		DELETE 
				FROM 
		T_STORAGE
		<include refid="Example_Where_Clause" />
	</delete>
	
	<update id="update" parameterType="com.example.demo.empty.Storage">
		UPDATE 
			T_STORAGE 
		<set>
				<if test="storageId != null">
						STORAGE_ID = #{storageId,jdbcType=INTEGER},
				</if>
				<if test="storageType != null">
						STORAGE_TYPE = #{storageType,jdbcType=INTEGER},
				</if>
				<if test="storagePath != null">
						STORAGE_PATH = #{storagePath,jdbcType=VARCHAR},
				</if>
				<if test="storagePath != null">
						LOCAL_PATH = #{localPath,jdbcType=VARCHAR},
				</if>
				<if test="storageUsername != null">
						STORAGE_USERNAME = #{storageUsername,jdbcType=VARCHAR},
				</if>
				<if test="storagePassword != null">
						STORAGE_PASSWORD = #{storagePassword,jdbcType=VARCHAR},
				</if>
				<if test="storageStatu != null">
						STORAGE_STATU = #{storageStatu,jdbcType=INTEGER},
				</if>
		</set>
		WHERE STORAGE_ID = #{storageId,jdbcType=VARCHAR}
	</update>
	
</mapper>