<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../../../source/layui/css/style.css" media="all">
<link rel="stylesheet" href="../../../source/css/common.css" media="all">
<style>
	.layui-btn-sm{
		margin-left: 50px !important;
	}
	.layui-input-block{
		margin-left: 20px !important;
	}
</style>
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-row">
			<form class="layui-form" lay-filter="loadfilter">
				<div class="layui-row">
				<div class="layui-col-md6" style="width:40%;float:left">
					<input type="hidden" name="userVmId" id="userVmId">
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								<span style="color: red;">*</span>桌面名：
							</label>
							<div class="layui-input-inline" id="vmNameDiv">
									<input type="text" lay-verify="required" name="vmName" id="vmName" autocomplete="off" placeholder="连接名" class="layui-input" >
							</div> 
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								<span style="color: red;">*</span>协议：
							</label>
							<div class="layui-input-inline">
									<select name="agreement" id="agreement" lay-filter="agreement">
										<option value="1">RDP</option>
										<option value="2">SSH</option>
										<option value="3">VNC</option>
										<option value="4">TELNET</option>
									</select> 
							</div> 
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								<span style="color: red;">*</span>IP地址：
							</label>
							<div class="layui-input-inline">
	 							<input type="text" name="hostName" lay-verify="ip" id="hostName" autocomplete="off" placeholder="主机IP地址" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								<span style="color: red;">*</span>用户名：
							</label>
							<div class="layui-input-inline">
	 							<input type="text" lay-verify="required" name="username" id="username" autocomplete="off" placeholder="授权账户" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								<span style="color: red;">*</span>密码：
							</label>
							<div class="layui-input-inline">
	 							<input type="password" lay-verify="required" name="password" id="password"  autocomplete="off" placeholder="授权密码" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								<span style="color: red;">*</span>端口：
							</label>
							<div class="layui-input-inline">
	 							<input type="text"  lay-verify="num" name="port" id="port" autocomplete="off" class="layui-input" value="3389" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								备注：
							</label>
							<div class="layui-input-inline">
	 							<input type="text" name="desc" id="desc" autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md6" style="width:60%;float:left">
					<div id="rdpParam">
					<div class="layui-form-item">
						<div class="layui-inline">
	                           <div class="layui-input-block">
	                             <input type="checkbox" name="read-only" id="read-only" class="ownerCost" lay-skin="primary"  title="只读">
	                             <input type="checkbox" name="disable-copy" id="disable-copy" class="ownerCost" lay-skin="primary"  title="禁用复制">
	                             <input type="checkbox" name="disable-paste" id="disable-paste" class="ownerCost" lay-skin="primary"  title="禁用粘贴">
	                         </div>
	                    </div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
	                           <div class="layui-input-block">
							       <input type="checkbox" name="console-audio" id="console-audio" class="ownerCost" lay-skin="primary"  title="控制台内支持音频">
							       <input type="checkbox" name="disable-audio" id="disable-audio" class="ownerCost" lay-skin="primary"  title="禁用音频">
	                         </div>
	                    </div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
	                          <div class="layui-input-block">
							        <input type="checkbox" name="enable-audio-input" id="enable-audio-input" class="ownerCost" lay-skin="primary"  title="启用音频输入">
						       		<input type="checkbox" name="disable-download" id="disable-download" class="ownerCost" lay-skin="primary"  title="关闭下载">
						       		<input type="checkbox" name="disable-upload" id="disable-upload" class="ownerCost" lay-skin="primary"  title="关闭上传">
	                        	 </div>
		                   </div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" style="width:130px;">
	                          <div class="layui-input-block">
							       <input type="checkbox"  name="enable-printing" id="enable-printing" class="ownerCost" lay-skin="primary"  title="启用打印功能">
	                        	 </div>
		                   </div>
		                 <div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								打印机名称：
							</label>
							<div class="layui-input-inline">
	 							<input type="text" name="printer-name"  id="printer-name"  autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" style="width:130px;">
                           <div class="layui-input-block">
						       <input type="checkbox"   name="enable-drive" id="enable-drive" class="ownerCost" lay-skin="primary"  title="启用虚拟盘">
                        	 </div>
	                    </div>
	                    <div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								虚拟盘路径：
							</label>
							<div class="layui-input-inline">
	 							<input type="text" name="drive-path" id="drive-path"  autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" style="width:130px;">
                           <div class="layui-input-block">
						       <input type="checkbox" name="create-drive-path" id="create-drive-path" class="ownerCost" lay-skin="primary"  title="自动建立虚拟盘">
                        	 </div>
	                    </div>
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								静态通道名：
							</label>
							<div class="layui-input-inline">
	 							<input type="text" name="static-channels" id="static-channels"  autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
<!-- 					<div class="layui-form-item" style="margin-left:142px;">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								驱动器名称：
							</label>
							<div class="layui-input-inline">
	 							<input type="text" name="drive-name" id="drive-name"  autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div> -->
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								Remote App：
							</label>
							<div class="layui-input-inline" style="width:100px;">
	 							<input type="text" name="remote-app" id="remote-app" placeholder="程序"  autocomplete="off" class="layui-input" style="width:100px;">
							</div>
						</div>
						<div class="layui-inline" >
							<div class="layui-input-inline" style="width:100px;">
	 							<input type="text" name="remote-app-dir" id="remote-app-dir" placeholder="工作目录"  autocomplete="off" class="layui-input" style="width:100px;">
							</div>
						</div>
						<div class="layui-inline" >
							<div class="layui-input-inline" style="width:100px;">
	 							<input type="text" name="remote-app-args" id="remote-app-args"  placeholder="参数" autocomplete="off" class="layui-input" style="width:100px;">
							</div>
						</div>
					</div>
				</div>
				<div id="sshAndTelnetParam" style="display:none">
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								配色方案：
							</label>
							<div class="layui-input-inline">
									<select name="color-scheme" id="color-scheme">
										<option value="green-black">黑底绿字</option>
										<option value="black-white">白底黑字</option>
										<option value="gray-black">黑底灰字</option>
										<option value="white-black">黑底白字</option>
									</select> 
							</div> 
						</div>
					</div>
					<div class="layui-form-item">
	                    <div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								字体名：
							</label>
							<div class="layui-input-inline">
	 							<input type="text" readonly="readonly" name="font-name" id="font-name" value="menlo" autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
	                    <div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								字体大小：
							</label>
							<div class="layui-input-inline">
	 							<input type="text"   name="font-size" id="font-size" autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline" >
							<label class="layui-form-label" style="width:100px;">
								终端类型：
							</label>
							<div class="layui-input-inline">
									<select name="terminal-type" id="terminal-type">
										<option value="">默认</option>
										<option value="ansi">ansi</option>
										<option value="linux">linux</option>
										<option value="vt100">vt100</option>
										<option value="vt220">vt220</option>
										<option value="xterm">xterm</option>
										<option value="xterm-256color">xterm-256color</option>
									</select> 
							</div> 
						</div>
					</div>
				</div>
				<div id="vncParam" style="display:none">
                    <div class="layui-inline" >
						<label class="layui-form-label" style="width:100px;">
							色彩深度：
						</label>
						<div class="layui-input-inline">
 							<input type="text" readonly="readonly" name="color-depth" id="color-depth" value="32" autocomplete="off" class="layui-input" >
						</div>
					</div>
				</div>
				</div>
				  <div class="layui-form-item">
						<div class="text_center" style="margin-top: 20px;">
							<button type="button" lay-submit lay-filter="formfilter" id="submit"  class="boot_botton">
								确定
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="../../../source/layui/layui.all.js"></script>
	<script src="../../../source/js/valid.js"></script>
	<script src="../../../source/js/common.js"></script>
	<script src="bindVm.js"></script>
</body>
</html>